<div>
  <div *ngFor="let category of listCategories">
    <mat-card>
      <mat-card-content>
        <mat-toolbar>
          <span>{{ category.name }}</span>
          <mat-button-toggle (click)="toggleShowDoneTasks(category)">Show done</mat-button-toggle>
        </mat-toolbar>
        <div *ngFor="let task of category.tasks">
          <mat-card *ngIf="task.taskStatus !== 'DONE' || category.showDoneTasks">
            {{ task.name }}
            <mat-checkbox [value]="task.taskStatus" [checked]="task.taskStatus === 'DONE'" (change)="onCheckboxChange(task)"></mat-checkbox>
          </mat-card>
        </div>
        <mat-button-toggle (click)="toggleTaskNameInput(category)">
          {{ category.showTaskInput ? 'Cancel' : 'Add new!' }}
        </mat-button-toggle>
        <div *ngIf="category.showTaskInput">
          <input [(ngModel)]="newTask.name" placeholder="Enter task name" />
          <button (click)="addTask(category)">Add</button>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
  <mat-card>
    <mat-button-toggle (click)="toggleCategoryNameInput()">
      {{ isCategoryInputVisible ? 'Cancel' : 'Add new!' }}
    </mat-button-toggle>

    <div *ngIf="isCategoryInputVisible">
      <input [(ngModel)]="newCategory.name" placeholder="Enter category name" />
      <button (click)="addCategory()">Add</button>
    </div>
  </mat-card>
</div>
