<div>

  List categories! <br>
  <div *ngFor="let category of listCategories">
    <mat-card>
      <mat-card-content>
        <mat-toolbar>
          <span>{{ category.name }}</span>
          <mat-button-toggle (click)="toggleShowDoneTasks(category)">Show done</mat-button-toggle>
        </mat-toolbar>
        <div *ngFor="let task of category.tasks">
          <mat-card *ngIf="task.taskStatus !== 'DONE' || category.showDoneTasks">
            {{ task.name }}
            <mat-checkbox [value]="task.taskStatus" [checked]="task.taskStatus === 'DONE'" (change)="onCheckboxChange(task)"></mat-checkbox>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card>
    <mat-button-toggle (click)="toggleCategoryNameInput()">
      {{ isInputVisible ? 'Cancel' : 'Add new!' }}
    </mat-button-toggle>

    <div *ngIf="isInputVisible">
      <input [(ngModel)]="newCategory.name" placeholder="Enter category name" />
      <button (click)="addCategory()">Add</button>
    </div>
  </mat-card>
</div>
