

<div>
  <div>
    <table>
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Gender</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let userInfo of users">
        <td>{{ userInfo.name }}</td>
        <td>{{ userInfo.surname }}</td>
        <td>{{ userInfo.gender  | titlecase   }}</td>
        <td>{{ userInfo.dateOfBirth }}</td>
        <td><a href="mailto:{{ userInfo.email }}">{{ userInfo.email }}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
