<form class="signupForm" (ngSubmit)="onSubmit()" #userForm="ngForm">
  <mat-card class="form-card">
    <mat-form-field class="form-input">
      <mat-label>Email</mat-label>
      <input matInput type="email"
             [(ngModel)]="userInfo.email"
             name="email"
             id="email"
             placeholder="Enter your email"
             required
             #email="ngModel"
             pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}$">
      <mat-error
        *ngIf="email.invalid && email.touched && email.errors && email.errors['pattern']">Invalid email format.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="passwordType"
             [(ngModel)]="userInfo.password"
             name="password"
             id="password"
             placeholder="Enter your password"
             required #password="ngModel"
             pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
      <button mat-icon-button matSuffix
              (click)="togglePasswordVisibility($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid && password.touched && password.errors && password.errors['pattern']">Invalid password format.</mat-error>
<!--        <pre>Password must:-->
<!--          - be at least 8 long,-->
<!--          - include at least one uppercase letter,-->
<!--          - include at least one lowercase letter,-->
<!--          - include at least one digit,-->
<!--          - include at least one special character.-->
<!--        </pre>-->

    </mat-form-field>
    <mat-form-field class="form-input">
      <mat-label>Name</mat-label>
      <input matInput type="text"
             [(ngModel)]="userInfo.name"
             name="name"
             id="name"
             placeholder="Enter your name"
             required
             #name="ngModel">
    </mat-form-field>

    <mat-form-field class="form-input">
      <mat-label>Surname</mat-label>
      <input matInput type="text"
             [(ngModel)]="userInfo.surname"
             name="surname"
             id="surname"
             placeholder="Enter your surname"
             required #surname="ngModel">
    </mat-form-field>

    <mat-form-field class="form-input">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="userInfo.userGender"
                  name="gender"
                  id="gender"
                  placeholder="Select your gender"
                  required
                  #gender="ngModel">
        <mat-option value="MALE">Male</mat-option>
        <mat-option value="FEMALE">Female</mat-option>
        <mat-option value="OTHER">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>

      <mat-label>Date of birth</mat-label>

      <input matInput required
             [(ngModel)]="userInfo.dateOfBirth"
             name="dateOfBirth"
             id="dateOfBirth"
             [matDatepicker]="picker"
             #dateInputField
             (dateInput)="onDateChange($event)">

      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>

      <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="!userForm.form.valid" color="primary">Sign Up</button>
    </mat-card-actions>
  </mat-card>

</form>
